html {
  width:100%;
  height:100%;
  font-family: gaegu;
  cursor: url('https://kbatau.github.io/formaster/resources/images/pixel_art.png'), auto;
}
body{
  font-size:3em;
  background-color: #8785A2;
  cursor: url('https://kbatau.github.io/formaster/resources/images/pixel_art.png'), auto;
}
h1{
  color:#FFC7C7;
  font-size: 1.4em;
}
#container{
  position: relative;
}
#container canvas,#overlay{
  position:absolute;
}
#overlay{
  position: absolute;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bgimg-1 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax2.jpg");
  min-height: 600px;
}

.bgimg-3 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax3.jpg");
  min-height: 600px;
}
.bgimg-4 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax4.jpg");
  min-height: 600px;
}
.bgimg-5 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax5.jpg");
  min-height: 600px;
}
.bgimg-6 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax6.jpg");
  min-height: 600px;
}
.bgimg-7 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax7.jpg");
  min-height: 600px;
}
.bgimg-8 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax8.jpg");
  min-height: 600px;
}
.bgimg-9 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax9.jpg");
  min-height: 600px;
}
.bgimg-10 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax10.jpg");
  min-height: 600px;
}
.bgimg-11 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax11.jpg");
  min-height: 600px;
}
.bgimg-12 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax12.jpg");
  min-height: 600px;
}
.bgimg-13 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax13.jpg");
  min-height: 600px;
}
.bgimg-14 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax14.jpg");
  min-height: 600px;
}
.bgimg-15 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax15.jpg");
  min-height: 600px;
}
.bgimg-16 {
  background-image: url("https://kbatau.github.io/formaster/resources/images/imgparallax16.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  font-size:50px;
  background-color:black;
  color: #fff;
  font-family: gaegu;
  padding: 18px;
  letter-spacing: 6px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h3 {
  font-family: gaegu;
  font-size: 100px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
}
p{
  font-size: 30px;
}
